.App {
  text-align: center;
  height: 100vh;
  background-color: #fcfc02;
}
.Hpli {
  display: inline;
  padding: 20px;
  border: solid 2px;
  border-radius: 100%;
  margin: 20px;
  color: black;
  text-decoration: none;
}
.Hph1 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.carCard {
  border: solid 2px;
  /* padding: 5px; */
  background-color: #fcfc02;
  display: grid;
  grid-template-areas:
    "L T R"
    "L I R"
    "L Y R";
  border-radius: 14px;
  margin-left: 100px;
  margin-right: 100px;
}

.carform {
  display: grid;
  background-color: #fcfc02;
}
/* .footerUL {
  text-align: center;
  text-decoration: none;
  display: inline;
  border: solid 1px black;
}
.footerLI {
  display: inline;
  padding: 20px;
} */
ul {
  display: inline;
  text-decoration: none;
  color: #0000;
}
.carMakeAnModel {
  grid-area: T;
}
.carImg {
  grid-area: I;
}
.year {
  grid-area: Y;
}
.carInput {
  padding: 40px;
}
.footerDiv {
  background: url();
  border: solid 2px;
  border-radius: 14px;
  margin: 40px;
  padding: 20px;
  justify-content: space-between;
}
body {
  background-color: #fcfc02;
}
