.App {
  text-align: center;
  height: 100vh;
  background-color: #fcfc02;
  color: red;
}
.Hpli {
  display: inline;
  padding: 20px;
  border: solid 2px;
  border-radius: 100px;
  margin: 20px;
  color: red;
  text-decoration: none;
}
.Hph1 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.carCard {
  border: solid 2px;
  /* padding: 5px; */
  background-color: #fcfc02;
  display: grid;
  grid-template-areas:
    "L L L T R R R"
    "L L L I R R R"
    "L L L Y R R R";
  border-radius: 14px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.carform {
  display: grid;
  background-color: #fcfc02;
}
/* .footerUL {
  text-align: center;
  text-decoration: none;
  display: inline;
  border: solid 1px black;
} */
.footerLI {
  padding: 20px;
}
ul {
  display: inline;
  text-decoration: none;
  color: #0000;
}
.carMakeAnModel {
  grid-area: T;
}
.carImg {
  grid-area: I;
}
.year {
  grid-area: Y;
}
.carInput {
  padding: 40px;
}
.footerDiv {
  background: url();
  border: solid 2px;
  border-radius: 14px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  justify-content: space-between;
}
body {
  background-color: #fcfc02;
}
.Button {
  background: #ff0000;
  color: white;
  border-radius: 12px;
}
.Input {
  border-radius: 12px;
}
.navBarH1 {
  margin: 40px;
}
@media (max-width: 608px) {
  .carCard {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
}
@media (max-width: 400px) {
  .carCard {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
}
